<% include ./partials/header %>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp!</h1>
        <p class="lead">Find a large amount of quality campsites posted by our passionate community.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">See more</a>
    </div>
<% include ./partials/footer %>